/.idea/
/react-student-management-web-app/node_modules/
/kubernetes-full-stack-example.iml
/spring-boot-student-app-api/target/
/spring-boot-student-app-api/student-app-api.iml
/react-student-management-web-app/build/
